/_build/
/deps/
apps/restdis/_build/
apps/restdis/deps/
*.beam
erl_crash.dump
/cover/
apps/*/cover/
cache_data/
test_cache_data/
/tmp/
.elixir_ls/
/priv/plts/
test/conformance/node_modules/
.ex_dna_cache
